body{
  font-family: Arial,sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #f0f0f0;
}

.container{
  background: white;
  padding: 20px;
  border-radius: 8px;
  box-sizing: 0 0 10px rgba(0,0,0,0.1);
  text-align: center;
}

input, button {
  padding: 10px;
  margin: 10px;
  border-radius:5px ;
  border: 1px solid #ccc;
}

button {
  cursor: pointer;
  background-color: #007bff;
  color: white;
  border: none;
}

button:hover{
  background-color: #0056b3;
}

#senha{
  margin-top: 20px;
  font-weight: bold;
  font-size: 1.2rem;
}